.section1 {
    background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    display: flex;
    min-height: 94vh;
    padding-top: 8vh;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}
section .container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
section .container div{
    margin-bottom: 40px;
}
.section-text-body {
    font-size: 20px;
    width: 100%;
}
.section-link-buttons {
    display: flex;
    justify-content: space-between;
}
.contact-link-buttons {
    width: 500px;
}
.section-link-buttons img{
    filter:none;
    width: 60px;
}
.section-link-buttons img:hover{
    filter: grayscale(.75);
    transition: 0.5s;
}
.section-body h2 {
    margin-bottom: 10px;
    width: 100%;
}



.section-body {
    display: flex;
    flex-direction: column;
}
.section5 .project-area {
    display: flex;
}
.project-area .project-resume {
    margin-left: 40px;
}
.project-area .project-image img {
    width: 600px;
}
.project-area .project-button {
    padding: 10px;
    background-color: rgb(131, 251, 251);
    display:inline;
    border-radius: 10px;
}
.project-area .project-button:hover {
    transition: 1s;
    background-color: rgb(37, 132, 132);
}
.project-area .project-button a {
    text-decoration: none;
    color: black;
}


.h1 {
    font-size: 80px;
}
.h1.title {
    color:darkslategray;
}
.h2 {
    font-size: 60px;
    color:darkslategray;
}
.h3 {
    font-size: 40px;
}
.h4 {
    font-size: 30px;
    color: firebrick;
}
.h5 {
    font-size: 25px;
}
.h6 {
    font-size: 10px;
}

@media (max-width: 999px) {
    .section-link-buttons {
        display: flex;
        flex-wrap: wrap;
        width: 420px;
        justify-content: space-between;
    }
    
}


@media (max-width: 600px) {
    .h1 {
        font-size: 60px;
    }
    .h2 {
        font-size: 40px;
    }
    
}

@media (max-width: 530px) {
    .section-link-buttons {
        display: flex;
        flex-wrap: wrap;
        width: 280px;
        justify-content: space-between;
    }
    
}


@media (max-width: 430px) {
    .h1 {
        font-size: 50px;
    }
    .h4 {
        font-size: 30px;
    }
    
    
}