section {
    display: flex;
    height: 94vh;
    padding-top: 8vh;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}
section .container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
section .container div{
    margin-bottom: 40px;
}
.section-text-body {
    font-size: 20px;
    width: 100%;
}
.section-link-buttons {
    display: flex;
    justify-content: space-between;
}
.contact-link-buttons {
    width: 500px;
}
.section-link-buttons img{
    filter:none;
    width: 60px;
}
.section-link-buttons img:hover{
    filter: grayscale(.75);
    transition: 0.5s;
}
.section-body h2 {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}


@media (max-width: 999px) {
    .section-link-buttons {
        display: flex;
        flex-wrap: wrap;
        width: 420px;
        justify-content: space-between;
    }
    
}


@media (max-width: 600px) {
    .h1 {
        font-size: 60px;
    }
    .h2 {
        font-size: 40px;
    }
    .h3 {
        font-size: 40px;
    }
    .h4 {
        font-size: 30px;
    }
    .h5 {
        font-size: 25px;
    }
    .h6 {
        font-size: 10px;
    }
    
}

@media (max-width: 530px) {
    .section-link-buttons {
        display: flex;
        flex-wrap: wrap;
        width: 280px;
        justify-content: space-between;
    }
    
}