.section1 {
    background-color: blueviolet;
}
.section2 {
    background-color: blue;
}
.section3 {
    background-color: aquamarine;
}
.section4 {
    background-color: rgb(214, 188, 104);
}
.section5 {
    background-color: rgb(214, 162, 66);
}

section {
    display: flex;
    height: 94vh;
    padding-top: 8vh;
    justify-content: center;
    align-items: center;
}
section .container{
    background-color: white;
    width: 80%;
    height: 80%;
}